<footer>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-primary" href="https://twitter.com/FrOSConPHPTrack" target="_blank">
                                <span class="icon">
                                  <i class="fas fa-twitter" aria-hidden="true"></i>
                                </span>
                                <span>Tweet</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary" href="mailto:info@froscon-php-track.de" target="_blank">
                                <span class="icon">
                                  <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                <span>Mail</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="content">
                            {% trans %}Supported by{% endtrans %}:
                            <a class="navbar-item" href="https://igphp.de/" target="_blank">{% trans %}ig_php{% endtrans %}</a>
                            <a class="navbar-item" href="https://developersforfuture.org/home/" target="_blank">{% trans %}DevelopersForFuture{% endtrans %}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="content">
                            <!-- <a clas="navbar-item" href="{{ url(homeRoute ~ '/speakers') }}">{% trans %}speakers_mentors{% endtrans %}</a>-->
                            <a class="navbar-item" href="https://www.froscon.de/en/" target="_blank">{% trans %}froscon_conference{% endtrans %}</a>
                            <a class="navbar-item" href="https://programm.froscon.de/2019/schedule/1.html" target="_blank">{% trans %}froscon_schedule{% endtrans %}</a>
                            <a class="navbar-item" href="{{ url(homeRoute ~ '/about') }}">{% trans %}about{% endtrans %}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="content">
                            <a class="navbar-item" href="{{ url(homeRoute ~ '/impressum') }}">Imprint</a>
                            <a class="navbar-item" href="{{ url(homeRoute ~ '/data-policy') }}">Data Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
