<header>
    <nav class="navbar is-fixed-top not-scrolled">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url(homeRoute ~ '/home') }}">
                <div class="logo">
                    <img src="/img/nerdish_by_nature.png" alt="Logo">
                </div>
                <div class="logo-title">FrOSCon PHP Track</div>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                {{ locale_switcher(null, null, 'includes/switcher_links.html.twig') }}
                <a class="navbar-item" href="{{ url(homeRoute ~ '/about') }}">{% trans %}about{% endtrans %}</a>
                <div class="navbar-item">
                    <a class="button view-source-button" href="https://github.com/ElectricMaxxx/froscon-php-track" target="_blank">View Source on GitLab</a>
                </div>
            </div>
        </div>
    </nav>
</header>
