// Set your brand colors
$dark-blue: #0069d6;
$medium-blue: #41afff;
$light-blue: #41afff;
$white-green: #F4F9F6;
$black: #000000;
$gray: #565656;
$light-gray: #EFEFEF;
$light-beige: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: Merriweather Sans, Lato, Cantarell, sans-serif;
$grey-dark: $black;
$grey-light: $light-gray;
$primary: $medium-blue;
$link: $dark-blue;

$tablet-enabled: true;
$widescreen-enabled: true;
$fullhd-enabled: true;

$family-primary: Merriweather Sans, Lato, Cantarell, sans-serif;

// Update some of Bulma's component variables
$body-background-color: $light-beige;
$control-border-width: 2px;
$input-border-color: $light-blue;
$input-shadow: none;
