<!DOCTYPE html>
<html class="no-js" {{ sonata_seo_html_attributes() }} >
<head>
    {% block structured_data %}
        <script type="application/ld+json">{% spaceless %}
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "PHP Track auf der FrOSCon 2019",
    "image": "https://cfp.froscon-php-track.de/img/socialcard.png",
    "url": "https://cfp.froscon-php-track.de",
    "sameAs": [
        "https://twitter.com/FrOSConPHPTrack",
        "https://froscon-php-track.de"
    ]
}
{% endspaceless %}</script>
    {% endblock %}

    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {{ sonata_seo_title() }}
    {{ sonata_seo_head_attributes() }}
    <meta name="og:url" charset="UTF-8" content="{{ app.request.uri }}"/>
    {% set homeRoute = '/cms/routes/'~app.request.getLocale() %}
    {% block extra_metas %}{% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/build/base.css?v={{ version }}">

    <!-- Matomo -->
    <script type="text/javascript">
		var _paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		_paq.push(["setCookieDomain", "*.froscon-php-track.de"]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//piwik.prberghoff.de/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '2']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
    </script>
    <!-- End Matomo Code -->
</head>
<body class="bg-light-gray has-navbar-fixed-top">
{% block header %}
    {% include "includes/header.html.twig" %}
{% endblock %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% include "includes/footer.html.twig" %}

<script src="/build/app.js"></script>
</body>
</html>
